@import url(https://unpkg.com/chota@0.8.0/dist/chota.min.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');
 
:root {
  --bg-color: #010101;
  --bg-secondary-color: #f3f3f6;
  --color-primary: #14854F;
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: #6BB9F9;
  --font-family-sans: "Source Code Pro", "Segoe UI", sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}
html, body {
  /* display: flex; */
  /* flex-direction: column; */
  overflow-x: hidden;
}
main {
 min-height: calc(100vh - 36px);
 padding: 2rem;
 max-width: 1200px;
 margin: 0 auto;
 opacity: 0;
 /* flex: 1; */
}
footer {
  background-color: #101010;
  bottom: 0;
  width: 100%;
  opacity: 0.8;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}
h4 {
  margin: 0;
}