@import '../node_modules/chota/dist/chota.min.css';

:root {
  --bg-color: #010101;
  --bg-secondary-color: #101010;
  --color-primary: #14854F;
  /* --color-lightGrey: #d2d6dd; */
  /* --color-grey: #747681; */
  /* --color-darkGrey: #3f4144; */
  --color-error: #A9212B;
  /* --color-success: #28bd14; */
  /* --grid-maxWidth: 120rem; */
  /* --grid-gutter: 2rem; */
  --font-size: 1.6rem;
  --font-color: #6BB9F9;
  --font-family-sans: "Source Code Pro", monospace;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}
html, body {
  /* display: flex; */
  /* flex-direction: column; */
  overflow-x: hidden;
}

body.light {
  background-color: #fff!important;
}

.js-filter {
  /* background: var(--bg-secondary-color); */
  border-radius: 3px;
  /* filter: invert(); */
  position: fixed;
  right: 10px;
  top: 16px;
}

.js-filter:hover, .js-filter:active, .js-filter:focus {
  filter: brightness(0.8);
}

#sidebar {
  background: var(--bg-secondary-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100vw;
  padding: 1rem;
  position: fixed;
  right: -350px;
  top: 0;
  transition: right 0.2s ease-in;
  z-index: 1;
}

#sidebar:target {
  right: 0;
}

#sidebar:target + section {
  filter: brightness(0.3)
}

#sidebar h1 {
  font-size: 2.5rem;
}

#sidebar select,.js-sidebar select > option {
  border-radius: 0;
  background: var(--bg-secondary-color);
  color: white;
  height: auto;
}

#sidebar main {
  flex: 1;
}

#app {
 min-height: calc(100vh - 58px);
 padding: 1rem 2rem;
 max-width: 1200px;
 margin: 0 auto;
 opacity: 1;
 transition: opacity 0.1s ease-in;
}

@media screen and (min-width: 768px) {
  #app {
    padding: 2rem 4rem;
  }
}

footer {
  background: var(--bg-secondary-color);
  /* bottom: 0; */
  width: 100%;
  opacity: 0.8;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
}

h1, h2 {
  letter-spacing: -1px;
  margin-top: 0;
}

h4 {
  margin: 0;
}