@import url(https://unpkg.com/chota@0.8.0/dist/chota.min.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700');

:root {
  --bg-color: #010101;
  --bg-secondary-color: #202020;
  --color-primary: #14854F;
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #A9212B;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: #6BB9F9;
  --font-family-sans: "Source Code Pro", "Segoe UI", sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}
html, body {
  /* display: flex; */
  /* flex-direction: column; */
  overflow-x: hidden;
  width: 100vw;
}

body.light {
  background-color: #fff!important;
}
.js-filter {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--bg-secondary-color);
  border-radius: 3px;
  width: 28px;
  height: 28px;
}

.js-filter:hover, .js-filter:active, .js-filter:focus {
  filter: contrast(0.5);
}

.js-sidebar {
  position: absolute;
  display: none;
  background: var(--bg-secondary-color);
  right: -200px;
  top: 0;
  bottom: 0;
  transition: right 0.2s ease-in;
}
.js-sidebar select,.js-sidebar select > option {
  border-radius: 0;
  background: var(--bg-secondary-color);
  color: white;
  height: auto;
}
main {
 min-height: calc(100vh - 52px);
 padding: 2rem;
 max-width: 1200px;
 margin: 0 auto;
 opacity: 1;
 transition: opacity 0.1s ease-in;
}
footer {
  background: var(--bg-secondary-color);
  bottom: 0;
  width: 100%;
  opacity: 0.8;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}
h2 {
  margin-top: 0;
}
h4 {
  margin: 0;
}